<div th:fragment="sidebaradmin"  style="height: 100%; margin : 0;padding: 0; width: 100%;  ">


    <div class="wrapper d-flex align-items-stretch" style="height: 100%; padding: 0; text-align: left; margin : 0;padding: 0; width: 100%;">

        <nav id="sidebar"  style=" background: none; height: 100%; text-align: left; margin : 0;padding: 0;  width: auto;">
            <div class="p-4 pt-5"  style=" height: 100%; text-align: left; margin : 0;padding: 0; width: auto; ">

                <ul class="list-unstyled components mb-0 " style ="width: auto; ">
                    <li class="active" style="color:#4D220E;">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:#4D220E; ">General settings</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu" style="color:#4D220E;">
                            <li>
                                <a href="#" style="color:#4D220E; ">Home 1</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 2</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#cardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:#4D220E;">Card document control</a>
                        <ul class="collapse list-unstyled" id="cardSubmenu" >
                            <li>
                                <a href="#" style="color:#4D220E;">Home 1</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 2</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#databaseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:#4D220E;">DataBase control</a>
                        <ul class="collapse list-unstyled" id="databaseSubmenu">
                            <li>
                                <a href="#" style="color:#4D220E;">Home 1</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 2</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#processSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:#4D220E;">Process control</a>
                        <ul class="collapse list-unstyled" id="processSubmenu">
                            <li>
                                <a href="#" style="color:#4D220E;">Home 1</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 2</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#statisSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:#4D220E;">Statistic control</a>
                        <ul class="collapse list-unstyled" id="statisSubmenu">
                            <li>
                                <a href="#" style="color:#4D220E;">Home 1</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 2</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 3</a>
                            </li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#sysSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:#4D220E;">System settings</a>
                        <ul class="collapse list-unstyled" id="sysSubmenu">
                            <li>
                                <a href="#" style="color:#4D220E;">Home 1</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 2</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#usersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:#4D220E;">Users control</a>
                        <ul class="collapse list-unstyled" id="usersSubmenu">
                            <li>
                                <a href="#" style="color:#4D220E;">Home 1</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 2</a>
                            </li>
                            <li>
                                <a href="#" style="color:#4D220E;">Home 3</a>
                            </li>
                        </ul>
                    </li>
                </ul>

<!--                <div class="footer">-->
<!--                    <p>&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>-->
<!--                        &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->
<!--                </div>-->

            </div>
        </nav>

        <!-- Page Content  -->
<!--        <div id="content" class="p-0 p-md-0">-->

<!--            <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--                <div class="container-fluid">-->

<!--                    <button type="button" id="sidebarCollapse" class="btn btn-primary">-->
<!--                        <i class="fa fa-bars"></i>-->
<!--                        <span class="sr-only">Toggle Menu</span>-->
<!--                    </button>-->
<!--                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                        <i class="fa fa-bars"></i>-->
<!--                    </button>-->

<!--                </div>-->
<!--            </nav>-->

<!--&lt;!&ndash;            <h2 class="mb-4">Sidebar #01</h2>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>&ndash;&gt;-->

<!--        </div>-->
    </div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/popper.js/2.9.3/umd/popper.js"></script>
<script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</div>